.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.flex-col-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

body {
  color: #C8F9CE;
  letter-spacing: 1px;
}


// 单行溢出省略号
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 2行溢出省略号
.text-ellipsis__2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-Wrap: break-word;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
