.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.flex-col-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

body {
  color: #C8F9CE;
}
