:root {
  --header-height: 102px;
  --footer-height: 121px;
  --container-bg: linear-gradient(180deg, #070F03 0%, rgba(7, 15, 3, 0.1) 100%);
  --page-small-width: 1920px;
  --page-large-width: 3840px;
  --page-height: 1080px;
}
