.el-picker-panel {
  background: #283C17;
  color: #EBFFEE;
  border: 0;
  box-shadow:none;
}
.el-date-picker__header-label {
  color: #EBFFEE;
}
.el-date-table th {
 color: #EBFFEE;
}
.el-picker-panel__icon-btn {
  color: #EBFFEE;
}

.el-date-table td.today span {
  color: #34B84A;
}

.el-year-table td.today .cell {
  color: #34B84A;
}

.el-year-table td .cell:hover, .el-year-table td.current:not(.disabled) .cell {
  color: #3C5E42;
}

.el-date-table td.available:hover {
  color: #3C5E42;
}

.el-date-picker__header-label.active, .el-date-picker__header-label:hover {
  color: #3C5E42;
}
.el-date-table td.current:not(.disabled) span {
  background-color: #3C5E42;
}
.el-picker-panel__icon-btn:hover {
  color: #3C5E42;
}
