.el-input.is-focus .el-input__inner {
  border-color: #34B84A;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: #34B84A;
}
.el-select .el-input__inner:focus {
  border-color: #34B84A;
}
.el-input__inner {
  background: rgba(35, 66, 3, 0.5);
  font-size: 12px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #EBFFEE;
  border: 1px solid #34B84A;
  border-radius: 5px;
  line-height: 17px;
}
.el-select-dropdown {
  background: #283C17;
  color: #EBFFEE;
  border: 0;
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    color: #3C5E42;
    background-color: #283C17;
  }
  .el-select-dropdown__item.selected {
    color: #34B84A;
  }
  .el-select-dropdown__item {
    color: #EBFFEE;
  }
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #283C17;
  &:after {
    border-bottom-color: #283C17;
  }
}
